<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="WorkingFolder" value="C:\Projects\ImagingTools\ImagingTools\data" />
    <add key="OptipngPath" value="C:\Projects\ImagingTools\ImagingTools\optipng.exe" />
    
    <add key="MinJpegSimilarity" value="96" />
    <add key="QualityCheckWidth" value="500" />
    <add key="MeaningfulFileSizeChange" value="2048" />
    <add key="TriedJpegQualities" value="65,75,80,85,90" />

    <add key="OnlyTopDirectory" value="false" />
    <add key="OverrideFiles" value="true" />
    <add key="DeleteUnoptimizable" value="true" />
  </appSettings>
</configuration>
